<mat-divider></mat-divider>
<section class="flex-grow flex flex-row justify-between">
  <div class="flex items-center m-5 p-5">
    <img class="w-[150px] h-[150px]" src="https://res.cloudinary.com/depf1ep80/image/upload/v1693368892/my-app/logo-app_sovllc.png"
      alt="logo">
  </div>
  <div class="flex flex-row justify-end items-start gap-[50px] p-5 m-5">
    <div class="flex flex-col gap-3 max-w-fit">
      <a href="mailto:miaphan.pma@gmail.com">
        <img src="https://res.cloudinary.com/depf1ep80/image/upload/v1685684083/my-app/icon/gmail_1_myfge1.png"
          alt="email-icon">
      </a>
      <a href="">Copyright &#169; {{year}}</a>
    </div>
    <div class="flex flex-col gap-3 max-w-fit">
      <a href="https://www.instagram.com/_zelhel_/">
        <img src="https://res.cloudinary.com/depf1ep80/image/upload/v1685684499/my-app/icon/instagram_mrcitp.png"
          alt="instagram">
      </a>
      <a href="https://www.linkedin.com/in/mia-phan-1364bab7/">
        <img src="https://res.cloudinary.com/depf1ep80/image/upload/v1685684303/my-app/icon/linkedin_tzjjcj.png"
          alt="linkedin">
      </a>
      <a href="https://github.com/mia-phan">
        <img src="https://res.cloudinary.com/depf1ep80/image/upload/v1685684158/my-app/icon/github_lku2bc.png"
          alt="github-icon">
      </a>
      <a href="https://www.artstation.com/zelhel">
        <img src="https://res.cloudinary.com/depf1ep80/image/upload/v1686179768/my-app/icon/artstation_k2vxt7.png"
          alt="artstation">
      </a>
    </div>
  </div>
</section>
