<ng-container>
    <app-header></app-header>
    <app-navigation></app-navigation>
    <div class="grid grid-cols-2 gap-8 m-[100px] p-5">
        <div>
            <h1 class="flex flex-row justify-center item-center title">ABOUT ME</h1>
            <p class="about-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nibh odio,
                scelerisque sit amet
                condimentum ut,
                tincidunt scelerisque elit. Vestibulum sodales dolor eget purus consequat placerat. Duis ac mollis leo.
                Suspendisse non
                suscipit nunc, non hendrerit eros. Sed a sem odio. Suspendisse non molestie orci, at bibendum ex. Proin
                eu
                risus lorem.
                Donec vestibulum ultrices ante, a tincidunt mauris. Maecenas ut pharetra arcu. Quisque et mi urna. Sed
                imperdiet tortor
                quis elit porta, congue pellentesque augue pretium. Mauris ac porta arcu. Phasellus vitae justo non quam
                tincidunt
                fermentum. Quisque varius a eros eget elementum.

                Curabitur non mauris elementum, imperdiet leo a, vehicula turpis. Aenean cursus aliquet turpis, eget
                tempor
                orci
                efficitur ac. Mauris non odio eu dui bibendum tempus. Nullam volutpat urna a finibus placerat. Donec
                sodales, leo vel
                convallis pellentesque, dolor erat bibendum metus, in tempus augue quam at neque. Vivamus urna nunc,
                placerat at
                dignissim in, volutpat non dolor. Nulla feugiat libero sit amet sem sollicitudin, vitae blandit justo
                pellentesque.
                Proin laoreet auctor risus ut molestie. Duis venenatis semper accumsan. Donec eget orci id ex mattis
                tristique vitae a
                purus. Donec congue magna vel efficitur semper. Vestibulum nec felis orci.
            </p>
        </div>
        <div class="border border-solid border-slate-500">
            <img src="" alt="">
            <p class="flex flex-row justify-center items-center">Image goes here</p>
        </div>
        <div class="border border-solid border-slate-500">
            <img src="" alt="">
            <p class="flex flex-row justify-center items-center">Image goes here</p>
        </div>
        <p>
            Sed vitae euismod ligula, non condimentum mauris. Aenean sollicitudin dapibus pharetra. Quisque a
            scelerisque justo, eu
            euismod justo. Nullam ante tellus, consequat eget semper ac, pulvinar at sem. Suspendisse gravida, tellus
            sit amet
            suscipit finibus, nibh risus porta metus, volutpat blandit purus sem ut nulla. Phasellus sit amet nulla in
            dui efficitur
            efficitur in ac risus. Pellentesque ut semper risus. Pellentesque eget finibus ante.
        </p>
    </div>
</ng-container>