
<div class="flex flex-col max-w-[1200px]">
  <div class="grid grid-cols-2 place-content-center mx-[100px] mobile:grid-cols-1 mobile:gap-5 gap-8 mobile:m-3 p-5">
    <div class="flex flex-col justify-center items-center">
      <h1 class="flex flex-row justify-center item-center title">ABOUT ME</h1>
      <p>My name is Mia Phan. I'm a junior software developer. </p>
    </div>

    <div class="flex flex-row mobile:justify-center mobile:items-center">
      <img class="rounded-full w-[200px] h-[200px]"
        src="https://res.cloudinary.com/depf1ep80/image/upload/v1685585511/my-app/2848BF11-215B-4AA7-827A-5671DEE52AB1_akvk6s.jpg"
        alt="me">
    </div>
  </div>

  <div class="grid grid-cols-2 place-content-center mx-[100px]
              mobile:grid-cols-1 gap-8 mobile:gap-5
              mobile:m-3 work-experience">
    <div class="flex flex-col career-object">
      <h1>Career Objectives</h1>
      <hr class="w-[60px] mb-2 divide-solid">
      <p>After four years of experience in management, I'm now seeking to leverage my knowledge and challenge myself in a
        whole new career.</p>
    </div>
    <div class="flex flex-col education">
      <h1>Education</h1>
      <hr class="w-[60px] mb-2 divide-solid">
      <div class="flex flex-row gap-5">
        <div class="flex flex-col">2014 - 2017</div>
        <div class="flex flex-col">
          <p class="sub-heading">Bachelor of International Business</p>
          <p>International Pacific United</p>
        </div>
      </div>
    </div>

    <div class="flex flex-col skill-and-competencies">
      <h1>Skills and Competencies</h1>
      <hr class="w-[60px] mb-2 divide-solid">
      <ul>
        <li>Management</li>
        <li>Decision making</li>
        <li>Problem solving</li>
        <li>Critical Thinking</li>
        <li>TypeScript/JavaScript</li>
        <li>Angular 14+</li>
        <li>GraphQL</li>
        <li>Express</li>
      </ul>
    </div>

    <div class="flex flex-col gap-3 certifications">
      <h1>Certifications</h1>
      <hr class="w-[60px] mb-2 divide-solid">
      <div class="flex flex-row">
        <div class="flex flex-row mr-[50px]">2020</div>
        <div class="flex flex-col">
          <p class="sub-heading">Certified Creative Coding</p>
          <p>NYUx, online learning initiative of New
            York University</p>
        </div>
      </div>
      <div class="flex flex-row">
        <div class="flex flex-row mr-[50px]">2022</div>
        <div class="flex flex-col">
          <p class="sub-heading">Certified The Web Developer Bootcamp</p>
          <p class="sub-heading">Understanding Typescript</p>
          <p class="sub-heading">Angular Essentials</p>
          <p>Udemy</p>
        </div>

      </div>
    </div>
  </div>

  <div class="flex flex-col justify-center m-[100px] mobile:m-3 gap-5 work-experience">
    <h1>Work Experience</h1>
    <hr class="w-[60px] divide-solid">
    <div class="flex flex-row gap-5 mobile:flex-col">
      <div class="flex flex-row mobile:ml-0">Apr 2018 - Aug 2021</div>
      <div class="flex flex-col">
        <h2 class="sub-heading">Restaurant Manager</h2>
        <h3 class="sub-heading">Yeda Restaurant</h3>
        <div class="flex flex-col">
          <ul>
            <li>Manage stock level, front house and kitchen staff members</li>
            <li>Recruit and train staff members</li>
            <li>Ensure a smooth operation and the best service to be delivered</li>
            <li>Prepare and present staffing/sales reports</li>
            <li>Make improvements to the running of the business and developing the restaurant</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex flex-row gap-5 mobile:flex-col">
      <div class="flex flex-row mobile:ml-0">Dec 2022 - Feb 2023</div>
      <div class="flex flex-col">
        <h2 class="sub-heading">Internship Full Stack Developer</h2>
        <h3 class="sub-heading">MyMahi</h3>
        <div class="flex flex-col">
          <ul>
            <li>Assist in debugging and fixing minor bugs in backend services</li>
            <li>Migrate app's UI from Angular Flex Layout library to Tailwind CSS</li>
            <li>Follow CI/CD processes to take code from development, to testing, to deployment, maintaining code
              ownership</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
