<div class="flex flex-row gap-5">
  <div class="flex-auto">
    <h1 mat-dialog-title>{{data.title}}</h1>
  </div>
  <div class="flex flex-row-reverse gap-5">
    <button>
      <mat-icon svgIcon="share-icon" aria-hidden="false" aria-label="share-icon"></mat-icon>
    </button>
    <button>
      <mat-icon svgIcon="heart-icon" aria-hidden="false" aria-label="heart-icon"></mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content class="flex flex-row">
  <img [src]="data.url" [alt]="data.title">
  <div class="flex flex-col">
  </div>
</div>
