<div class="flex justify-end m-3">
  <button (click)="closeDialog()">
    <mat-icon svgIcon="close-icon" aria-hidden="false" aria-label="close-icon"></mat-icon>
  </button>
</div>
<div class="flex flex-row gap-5 m-5">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <button>
    <mat-icon *ngIf="isCliked" (click)="clickedHeartIcon()" svgIcon="heart-icon" aria-hidden="false" aria-label="heart-icon"></mat-icon>
    <mat-icon *ngIf="!isCliked" (click)="clickedHeartIcon()" svgIcon="red-heart-icon" aria-hidden="false" aria-label="red-heart-icon"></mat-icon>
    <!-- <span>{{count}}</span> -->
  </button>
  <button (click)="openBottomSheet()">
    <mat-icon svgIcon="share-icon" aria-hidden="false" aria-label="share-icon"></mat-icon>
  </button>
</div>

<mat-dialog-content>
  <img [src]="data.url" [alt]="data.title">
</mat-dialog-content>
