:host {
  display: flex;
  width: 100%;
  height: 100%;

  & .dialog-header {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
  }

  & input[type=checkbox] {
    display: none;
  }

  & .image-container img {
    overflow: visible;
    margin: auto;
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }

  & input[type=checkbox]:checked ~ label > img {
    transform: scale(2.5);
    cursor: zoom-out;
  }
}

::ng-deep .mat-dialog-background {
  & .mat-mdc-dialog-container {
    --mdc-dialog-container-color: black;
    --mdc-dialog-subhead-color: white;
    --mdc-dialog-supporting-text-color: white;
  }

  & app-illustration-dialog {
    & .mat-mdc-dialog-content {
      display: flex;
      max-height: 100vh;
    }
  }

  & .mdc-dialog .mdc-dialog__content {
    padding: 0px;
  }

  & .comment {
    background: white;
  }
}
