
<mat-dialog-content>
  <div class="flex flex-col">
    <div class="flex flex-row justify-between gap-5 p-5 dialog-header">
      <h1>{{data.title}}</h1>
      <div class="flex flex-row gap-5">
        <button>
          <mat-icon *ngIf="isCliked" (click)="clickedHeartIcon()" svgIcon="heart-icon" aria-hidden="false"
            aria-label="heart-icon"></mat-icon>
          <mat-icon *ngIf="!isCliked" (click)="clickedHeartIcon()" svgIcon="red-heart-icon" aria-hidden="false"
            aria-label="red-heart-icon"></mat-icon>
          <!-- <span>{{count}}</span> -->
        </button>
        <button (click)="openBottomSheet()">
          <mat-icon svgIcon="share-icon" aria-hidden="false" aria-label="share-icon"></mat-icon>
        </button>
        <button (click)="closeDialog()">
          <mat-icon svgIcon="close-icon" aria-hidden="false" aria-label="close-icon"></mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="flex justify-center items-center image-container">
    <input id="zoom-check" type="checkbox">
    <label for="zoom-check">
      <img [src]="data.url" [alt]="data.title">
    </label>
  </div>
</mat-dialog-content>

