/* .image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
} */

:host {
  background-color: #e5e5e5;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  justify-content: center;
  justify-items: center;
  & .content-box {
    & h1 {
      font-size: 48px;
      font-weight: 700;
    }
  }
  & .illustration-text-content {
    color:#777777;
  }
}
