<ng-container>
    <section class="flex flex-row justify-center items-center min-h-[400px] header">
        <p>animation goes here</p>
    </section>
    <app-navigation></app-navigation>

    <div class="grid grid-cols-2 m-[100px] p-5 gap-8">

      <div class="flex flex-col justify-center" routerLinkActive="active">
        <p class="w-72 h-auto my-5">Donec vitae pretium urna, vitae vehicula odio. Sed dignissim, nulla imperdiet laoreet sagittis, ex eros congue erat, vel
        posuere velit est ac augue.</p>
        <a routerLink="/projects/app">
          <button class="bg-sky-500 hover:bg-sky-700 rounded-full w-40 h-auto">
          <span class="text-white">See more</span>
        </button>
        </a>
        </div>

        <div></div>

        <div></div>

        <div class="flex flex-col" routerLinkActive="active">
          <p class="w-72 h-auto my-5">Donec vitae pretium urna, vitae vehicula odio. Sed dignissim, nulla imperdiet laoreet
            sagittis, ex eros congue erat, vel
            posuere velit est ac augue.</p>
          <a routerLink="/projects/illustration">
            <button class="bg-sky-500 hover:bg-sky-700 rounded-full w-40 h-auto">
              <span class="text-white">See more</span>
            </button>
          </a>
        </div>

    </div>

</ng-container>
