<ng-container>
    <app-header></app-header>
    <app-navigation></app-navigation>
    <section class="section-two">
        <h2>Something goes here</h2>
    </section>
    <section class="section-three">
        <h2>And so does this container</h2>
    </section>

    <div>
        <footer class="bg-black text-white h-64">
            <div class="grid grid-cols-3 gap-5 m-3 p-3">
                <div>
                    <img src="" alt="">miaphan.pma@gmail.com
                    <img src="" alt="">something else goes here
                </div>
                <div>
                    <img src="" alt="">facebook
                    <img src="" alt="">insta
                    <img src="" alt="">linkedin
                    <img src="" alt="">github
                </div>
            </div>
        </footer>
    </div>
</ng-container>