section {
    display: flex;
    min-height: 100vh;
}

.greeting {
  font-size: 150px;
  font-weight: 700;
}

.name {
  font-size:  80px;
}

.section-one {
    background: linear-gradient(#0F2027, #203A43, #2C5364);
}

.section-two {
    background: linear-gradient(#000046, #1CB5E0);
}
