<ng-container>
    <app-header class=" flex flex-row min-h-[400px]" [slides]="slides"></app-header>
    <section class="section-two">
      <div class="grid grid-cols-2 gap-5 m-[100px]">
        <div class="flex flex-col justify-start items-start ml-2 text-white greting-content">
          <h1 class="greeting m-0">Hello!</h1>
          <h2 class="name">I'm Mia</h2>
            <p class="w-72 h-auto my-5">I'm a little Asian person. Maintaining this website can be expensive. Please consider hiring me.</p>
            <button class="bg-sky-500 hover:bg-sky-700 rounded-full">
              <span class="m-5">GET STARTED</span></button>
        </div>
        <div></div>
      </div>

    </section>
    <section class="section-three">
        <h2>And so does this container</h2>
    </section>
</ng-container>
