@use 'sass:map';
@use '@angular/material' as mat;

:host {
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 100vh;
  justify-content: center;



  & .greeting-section {
    position: relative;
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1585435465945-bef5a93f8849?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80");
    background-position: top;
    background-repeat: no-repeat;

    & .greeting-container {
      margin: 0 auto;
      background: #e4e4e4;
      color: #2A3042;

      & .greeting-content{
        z-index: 1;

        & .greeting {
          font-size: 96px;
        }

        & .name {
          font-size: 50px;
        }
      }
    }

    & .video-background {
      position: absolute;

      &::-webkit-media-controls-start-playback-button {
        display: none;
      }
    }
  }


  @keyframes translateinfinite {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 3));
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0);
    }
  }

  & .logo-container {
    overflow: hidden;
    position: relative;
    background: transparent;
    width: 570px;

    &::before,
    &::after {
      content: ' ';
      position: absolute;
      width: 200px;
      height: 100%;
    }

    & .logo-container-inside {
      width: calc(200px * 6);

      & .support-logo {
        mix-blend-mode: multiply;
        width: 100px;
        animation: translateinfinite 10s linear infinite;
      }
    }
  }

  & .header {
    font-weight: 700;
    font-size: 24px;
    color: #2A3042;
  }

  & .framework {
    background-image: url("https://images.unsplash.com/photo-1465829235810-1f912537f253?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;

    & .text-content {
      opacity: 1;
      color: #ffff;

      & .repository {
        background-color: #c9c9c97d;
        border-radius: 5px;

        & .repository-link {
          margin-bottom: 0;
        }
      }
    }
  }

  & .framework:hover {
    animation: bounce 2s infinite ease;
    transform-origin: bottom;
  }

  & .projects {
    background-image: url("https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;

    & .text-content {
      opacity: 1;
      color: #ffff;
    }
  }

  & .projects:hover {
    animation: bounce 2s infinite ease;
    transform-origin: bottom;
  }

  & .about-me {
    background-image: url("https://images.unsplash.com/photo-1563906267088-b029e7101114?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;

    & .text-content {
      opacity: 1;
      color: #ffff;
    }
  }

  & .about-me:hover {
    animation: bounce 2s infinite ease;
    transform-origin: bottom;
  }

  & .coming-up {
    background-image: url("https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
    transition: .2s;
    margin: 0 auto;

    & .text-content {
      opacity: 1;
      color: #ffff;
    }
  }

  & .coming-up:hover {
    animation: bounce 2s infinite ease;
    transform-origin: bottom;
  }

  & .my-expertise {
    background: #000;

    & .angular {
      fill: #ffff;
    }
  }
}
